#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

h1 {
  color: #646cff;
}

button {
  cursor: pointer;
}